@use 'node_modules/@matteusan/sentro' with ($prefix: 'wmg', $context: 'theme');
@use 'sass:map';
@use 'tokens' as *; // $tokens is located here.

@use 'components/primitives/wmg-button';

@use 'components/wmg-banner';
@use 'components/wmg-header';
@use 'components/wmg-navbar';

:root {
  @include sentro.token-config(
    $primary: primitive-token-get('wmg-white'),
    $accent: primitive-token-get('wmg-blue'),
    $error: primitive-token-get('wmg-red'),
    $disabled: primitive-token-get('wmg-black-alpha'),
    $margin: primitive-token-get('spacing'),
    $padding: primitive-token-get('el-spacing'),
    $radius: primitive-token-get('radius'),
    $family: (
      'global': primitive-token-get('family', 'sans'),
      'body': primitive-token-get('family', 'sans'),
      'code': primitive-token-get('family', 'mono'),
    ),
    $weight: primitive-token-get('weight'),
    $size: primitive-token-get('size'),
  );
  --wmg-transition-time: 0.2s;
}

@include sentro.breakpoint-config((
  'small': 320px,
  'medium': 640px,
  'large': 890px,
  'xlarge': 1077px,
));

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
  font-family: sentro.token-get('family-global');
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.5;
}

a.wmg-link {
  display: inline-block;
  color: sentro.token-get('accent-400');
  text-decoration: underline;
  border-radius: sentro.token-get('radius-xs');
  @include sentro.prefix(transition, all var(--wmg-transition-time) ease);
  
  &:hover,
  &:focus {
    text-decoration: none;
    background: sentro.token-get('accent-400');
    color: sentro.token-get('accent-ink');
    box-shadow: 0 2px 0 1px sentro.token-get('accent-600');
    padding: sentro.token-get('padding-xs');
    transform: translateY(-8px);
  }
  
  &:active {
    box-shadow: 0 0 0 0;
    transform: translateY(-6px);
  }
}

@include wmg-banner.render();
@include wmg-button.render();
@include wmg-header.render();
@include wmg-navbar.render();

main.content-wrap {
  width: calc(100% - 30px);
  max-width: 1077px;
  margin: 0 auto;
  padding: 35px 0;
}


// Error pages:
.absolute-center {
  width: calc(100vw - 30px);
  max-width: 560px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  place-content: center;
}

.error {
  background-color: var(--wmg-theme-error-400);
  color: var(--wmg-theme-error-ink);
  padding: var(--wmg-theme-padding-lg) var(--wmg-theme-padding-xl);
  border-radius: var(--wmg-theme-radius-md);
  box-shadow: 0 3px 20px 1px rgba(#000, 70%);
  
  .error__title {
    text-align: center;
    font-size: var(--wmg-theme-size-lg);
    font-weight: 700;
    margin-bottom: var(--wmg-theme-margin-md);
  }
  
  .error__description {
    font-size: var(--wmg-theme-size-sm);
    
    & > p + p {
      margin-top: var(--wmg-theme-margin-sm);
    }
  
    code {
      display: inline-block;
      padding: 0 var(--wmg-theme-padding-sm);
      background: var(--wmg-theme-error-600);
      color: var(--wmg-theme-accent-ink);
      font-family: var(--wmg-theme-family-code);
    }
    
    a {
      text-decoration: underline;
      
      &:hover {
        background: rgba(sentro.token-get-raw('accent-ink'), 20%);
      }
    }
  }
  
  .error__actions {
    display: flex;
    flex-flow: row wrap;
    gap: var(--wmg-theme-margin-sm);
    justify-content: flex-end;
    margin-top: var(--wmg-theme-margin-md);
  }
}