@use 'node_modules/@matteusan/sentro' with ($prefix: 'wmg', $context: 'theme');
@use 'sass:map';
@use 'tokens' as *; // $tokens is located here.

@use 'components/primitives/wmg-button';

@use 'components/wmg-banner';
@use 'components/wmg-header';
@use 'components/wmg-navbar';

:root {
  @include sentro.token-config(
    $primary: primitive-token-get('wmg-white'),
    $accent: primitive-token-get('wmg-blue'),
    $error: primitive-token-get('wmg-red'),
    $disabled: primitive-token-get('wmg-black-alpha'),
    $margin: primitive-token-get('spacing'),
    $padding: primitive-token-get('el-spacing'),
    $radius: primitive-token-get('radius'),
    $family: (
      'global': primitive-token-get('family', 'sans'),
      'body': primitive-token-get('family', 'sans'),
      'code': primitive-token-get('family', 'mono'),
    ),
    $weight: primitive-token-get('weight'),
    $size: primitive-token-get('size'),
  );
  --wmg-transition-time: 0.2s;
}

@include sentro.breakpoint-config((
  'small': 320px,
  'medium': 640px,
  'large': 890px,
  'xlarge': 1077px,
));

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
  font-family: sentro.token-get('family-global');
}

html {
  box-sizing: border-box;
}