@use 'node_modules/@matteusan/sentro';

@mixin render() {
  .wmg-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: sentro.token-get('accent-400');
    color: sentro.token-get('accent-ink');
    padding: sentro.token-get('padding-md') sentro.token-get('padding-lg');
    z-index: 100;
    
    .wmg-header__wrapper {
      width: calc(100% - 30px);
      max-width: 1077px;
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      
      @include sentro.breakpoint-create('medium') {
        flex-flow: row nowrap;
        justify-content: space-between;
      }
      
      .wmg-header__masthead {
        display: grid;
        place-items: center;
        margin-bottom: sentro.token-get('margin-sm');
        
        @include sentro.breakpoint-create('medium') {
          margin-bottom: 0;
        }
        
        h2 {
          text-align: center;
          font-size: sentro.token-get('size-md');
          font-weight: sentro.token-get('weight-bold');
        }
      }
    }
  }
}