@use 'node_modules/@matteusan/sentro';

@mixin render() {
  .wmg-header {
    background-color: sentro.token-get('accent-400');
    color: sentro.token-get('accent-ink');
    padding: sentro.token-get('padding-md') sentro.token-get('padding-lg');
    
    .wmg-header__wrapper {
      width: 100%;
      max-width: 1077px;
      margin: 0 auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      
      .wmg-button.is-inverted {
        @include sentro.key-bind('button-min-width', 100%);
        @include sentro.key-bind('button-padding', sentro.token-get('padding-xs') sentro.token-get('padding-sm'));
        @include sentro.key-bind('button-size', sentro.token-get('size-xs'));
        @include sentro.key-bind('button-weight', sentro.token-get('weight-normal'));
  
        @include sentro.breakpoint-create('medium') {
          &.is-js-nav-trigger {
            display: none !important;
          }
        }
      }
      
      @include sentro.breakpoint-create('medium') {
        flex-flow: row nowrap;
        justify-content: space-between;
      }
      
      .wmg-header__masthead {
        display: grid;
        flex-basis: 300%;
        place-items: flex-start;
        
        @include sentro.breakpoint-create('medium') {
          flex-basis: 50%;
        }
        
        h2 {
          text-align: center;
          font-size: sentro.token-get('size-md');
          font-weight: sentro.token-get('weight-bold');
        }
      }
    }
  }
}