@use 'node_modules/@matteusan/sentro' with ($prefix: 'wmg', $context: 'theme', $token-validation: false);

.wmg-button {
  width: auto;
  min-width: 69px;
  max-width: max-content;
  background-color: sentro.key-create('button-fill', sentro.token-get('accent-400'));
  color: sentro.key-create('button-ink', sentro.token-get('accent-ink'));
  border: 1px solid sentro.key-create('button-fill', sentro.token-get('accent-400'));
  padding: sentro.key-create('button-padding', #{sentro.token-get('el-spacing-2')} #{sentro.token-get('el-spacing-3')});
  border-radius: sentro.key-create('button-radius', sentro.token-get('radius-2'));
  
  .wmg-button__label {
    //
  }
  
  .wmg-button__icon {
    //
  }
}